<table class="table">
    <tbody>
        <tr>
            <th scope="row">Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">Created</th>
            <td>{{ user.createdAt|date(constant('\DateTimeInterface::ATOM')) }}</td>
        </tr>
        <tr>
            <th scope="row">Id</th>
            <td>{{ user.id }}</td>
        </tr>
    </tbody>
</table>
