{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h3>{{ status_code }}: {{ status_text }}</h3>
        </div>
    </div>
{% endblock %}
